.selection_bubble {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    color: black;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    font-size: 14px;
  }

.title-jpdict{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #00b294;
    font-family: 'Yu Gothic UI','Hiragino Kaku Gothic Pro';
}

.definition-jpdict{
    font-family: 'Microsoft Yahei','PingFang SC';
}